{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>





<h3>All listings</h3>

<!-- <h4>Choose category</h4> 

<form action="{% url 'index' %}" method="POST"></form>
<select name="category" id="">
    {% for type in category %}
    <option value="{{ type }}" name="category">{{ type }}</option>
    {% endfor %}
</select>
<input type="submit" value="Submit">

{% if choosed_category %} 

<h4>You have choosed {{choosed_category}}</h4>

{% endif %} -->
<!-- 
{% comment %}
{% for status in statuses %}

{{status.listing.title}}

{{status.listing.price}}

{{status.listing.photo}}

{% endfor %} {% endcomment %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="row">
            {% for status in statuses %}
            <div class="col-md-4">

                <div class="card p-3 bg-white"><i class="fa fa-apple"></i>

                    <div class="about-product text-center mt-2"><img src="{{status.listing.photo}}" height="300"
                            width="300">

                        <div>
                            <a href="{% url 'listing' status.listing.id %}">
                                <h4>{{ status.listing.title }}</h4>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between total font-weight-bold mt-4">
                        <span>Price</span><span>${{status.listing.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% empty %}
    <li>No listings</li>
    {% endfor %}
</div> -->




<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3"> 
    <div class="row">
        {% for status in statuses %}

        <div class="col-md-4 pb-5">
            <div class="card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center time"> </div> 
                </div>
                <div class="text-center"> <img src="{{status.listing.photo}}"  width="250" height="250"> </div>
                <div class="text-center">
                    <a href="{% url 'listing' status.listing.id %}">
                        <h4>{{ status.listing.title }}</h4>
                    </a> <span class="text">Last bid: ${{status.listing.price}}</span>
                </div>
            </div>
        </div>
        {% endfor %}

   
       
    </div>
</div>

{% endblock %}