{% extends "auctions/layout.html" %}

{% block body %}

<h1>Listing</h1>

{% if listing.seller == request.user %}
    <form action="{% url 'close_listing' listing.pk %}" method="POST" name="close_listing">
        {% csrf_token %}
        
        <input type="submit" value="Close listing" name="close_listing">

    </form>
{% endif %}

<h2> {{listing_status.status}} </h2>


{% if listing_status.status == 'Disabled' %}

    {% if listing.buyer == request.user %}

        <h1> You won the auction</h1>

        <h3> You bought {{listing.title}} for ${{listing.price}}  </h3>

        {% else %}

        <h1> This listing has been ended </h1>

        <h3>  Sold {{listing.title}} for ${{listing.price}} to 
        user {{listing.buyer}} </h3>


      

    {% endif %}
  <ul>
            <li>${{listing.price}}</li>
            <li><img src="{{listing.photo.url}}" weight=350px height=350px></li>
            <li>{{listing.description}}</li>
        </ul>

{% else %}

<h3> {{listing.title}} </h3>

    <form action="{% url 'watchlist' listing.id %}" method="POST">
    {% csrf_token %}
        <input type="submit" value="Add watchlist">
    </form>
    
<ul>
    <li>${{listing.price}}</li>
    <li><img src="{{listing.photo.url}}" weight=350px height=350px></li>
    <li>{{listing.description}}</li>

{% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <li>
            <p>The current bid is ${{listing.price}} made by {{listing.bidder}}</p>
            <p>Enter your Bid</p>
            <input type="number" name="amount">
            <input type="submit" value="Post">
            <br>
            
            {% if message %}
                {{message}}
            {% endif %}
        </li>

    </form>
{% endif %}
</ul>

<h2>Add comment </h2>

<form action="" method="POST" name="body">
    {% csrf_token %}
    
    <input type="body" name="body">
    <input type="submit" value="Post">

</form>

<h2>Comments...</h2>


<!-- {% if new_comment %} 

{% for comment in comments %} 

{{comment.user}} - {{comment.date_added}}
<br>
{{comment.body}}
<br>

{% endfor %}

{%else%} 

No comments <a href="#">Add comment</a>

{% endif %} -->


{% if not comments %}

    No comments <a href="#">Add comment</a>
{% else %}
    {% for comment in comments %}
        {{comment.user}} - {{comment.date_added}}
        <br>
        {{comment.body}}
        <br>
    {% endfor %}
{% endif %}
    
{% endif %}

<a href="{% url 'index' %}"> Back to Home page</a>
{% endblock %}
