{% extends "auctions/layout.html" %} 






{% block body %} 

<h2>Create a new listing</h2>

<form action="" method="POST" name="listing" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Title</h4>
    <input type="text" name="title">

    <input type='hidden' value='{{listing.pk}}' name='pk'>



    <h4>Choose category</h4>

    <select name="category" id="">
        {% for type in category %}
        <option value="{{ type }}" name="category">{{ type }}</option>
        {% endfor %}
    </select>


    <h4>Description</h4>
    <input type="text" name="description">

    <h4>Price</h4>
    <input type="number" name="price">

    <h4>Url of image</h4>
    <p>example: "http://google.com/cat.jpg/"</p>

        <input type="text" name="photo">



    <br>
    <h4>Auction ending date</h4>

    <input type="date" id="start" name="end_date">
    <br>

    <!-- <p>Or provide URL of image</p>
    <input type="text" name="image_url"/> -->

    <input type="submit" value="Post"/>

</form>


<a href="{% url 'index' %}"> Back to Home page</a>

<script>
    function imageFieldCheck() {
      if (document.getElementById('urlCheck').checked) {
          document.getElementById('urlOption').style.visibility = 'visible', document.getElementById('fileOption').style.visibility = 'hidden';
        
      }
      else document.getElementById('urlOption').style.visibility = 'hidden', document.getElementById('fileOption').style.visibility = 'visible';
  
  }
  </script>

{% endblock %} 
